.game-board {
    border: solid 5px;
    width: 99%;
    height: 500px;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);
    overflow: hidden;
}

.jumping-homer {
    position: absolute;
    width: 220px;
    bottom: -10px;
}

.clouds {
    position: absolute;
    width: 750px;
    height: 120px;
    animation-name: clouds-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes clouds-animation {
    from { right: -100%; }
    to { right: 100%; }
}

.cloud-1 {
    position: absolute;
    top: -40px;
    width: 200px;
}

.cloud-2 {
    position: absolute;
    top: 10px;
    left: 350px;
    width: 100px;
}
.cloud-3 {
    position: absolute;
    top: -20px;
    left: 600px;
    width: 150px;
}